.button {
    width: 206px;
    height: 47px;
    background-color: gray;
    color: black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
}

.button--red {
    color: white;
    background-color: #EA444E;
}